# Unity
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
*.pidb
*.user
*.booproj
*.sln.ide/
*.vsconfig

# Visual Studio / VSCode
.vs/
.vscode/
*.csproj.user
*.unityproj

# Sistema
.DS_Store
Thumbs.db

