# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
CrashReports/
ScriptAssemblies/
DerivedDataCache/
.sysinfo
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.sln
*.csproj
*.unityproj
*.user
*.userprefs
*.pidb.meta
*.mdb
*.mdb.meta
*.db
.vs/
.idea/
.DS_Store
Thumbs.db

# Addressables/Cache
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# Builds
*.apk
*.aab
*.ipa

# JetBrains Rider
.idea/
*.sln.DotSettings

# TextMesh Pro auto files
Assets/TextMesh Pro/**/*.asset

# Do NOT ignore these (necesarios)
!Assets/
!Packages/
!ProjectSettings/

